body{
    background-color: #0d1126;
}
.navtop{
    
    font-family: dungeon;
    font-size: 35px;
    background-color: black;
    text-decoration-color: white;
    height: 40px;
    text-align: center;
    padding-top:3vh;
    padding-bottom: 1vh;
    position: fixed;
    width: 100%;




    
}

@font-face{
    font-family: dungeon;
    src: url(./fontes/DUNGRG__.TTF);
}

@font-face{
    font-family: celtic;
    src: url(./fontes/celtic_gaelige.ttf);
}

@font-face{
    font-family: elfic;
    src: url(./fontes/QUENYA.TTF);
}
@font-face{
    font-family: thundergood;
    src: url(./fontes/Thundergood.ttf);
}
@font-face{
    font-family: nick;
    src: url(./fontes/Nickainley-Normal.otf);
}
@font-face{
    font-family: stonehenge;
    src: url(./fontes/stonehen.ttf);
}
@font-face{
    font-family: long_iberica;
    src: url(./fontes/LongaIberica-DEMO.ttf);
}
@font-face{
    font-family: liv_stone;
    src: url(./fontes/Livingst.ttf);
}
@font-face{
    font-family: irish_uncial;
    src: url(./fontes/IrishUncialfabeta-Bold.ttf);
}
@font-face{
    font-family: elementgothic;
    src: url(./fontes/Elementary_Gothic_Bookhand.ttf);
}
@font-face{
    font-family: carolingia;
    src: url(./fontes/carolingia.ttf);
}
@font-face{
    font-family: old_eng;
    src: url(./fontes/OldeEnglish.ttf);
}
@font-face{
    font-family: cardinal;
    src: url(./fontes/Cardinal.ttf);
}
@font-face{
    font-family: halfbred;
    src: url(./fontes/HalfbreD.ttf);
}
@font-face{
    font-family: Khalisa;
    src: url(./fontes/Khalisa_DEMO.ttf);
}
@font-face{
    font-family: lux;
    src: url(./fontes/Lux-Montag.ttf);
}
@font-face{
    font-family: allorta;
    src: url(./fontes/AllortaRegular.ttf);
}
@font-face{
    font-family: big_brando;
    src: url(./fontes/Branday.ttf);
}
@font-face{
    font-family: panerah;
    src: url(./fontes/Panerah\ Demo.otf);
}
@font-face{
    font-family: roth;
    src: url(./fontes/Rothenberg\ Bold.ttf);
}
.navtop li{
    
    margin-top: 20px;
    padding: 40px;
}

a{
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

.global{
    width: 100%;
}
.teste{

    border: solid;
    border-color: whitesmoke;
    font-family: allorta;
    margin-left: 2vw;
    color: #ff9d1c !important;
    font-size: 30px;

}

.teste:hover{
    text-shadow:  0 0 8px #ff9d1c;
/*#ff9d1c !important;*/
}


.photo{

    margin-top: 85px;
    margin-left: 3vw;
    width: 120px;
    height: 120px;;
    border-color: black;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.space_1{
    width: 33%;
    display: inline-table;
}

.space_2{

    width: 66%;
    display: inline-table;
    border: solid;
    border-color: whitesmoke;
    font-family: allorta;
    margin-left: 1px;
    color: #ff9d1c !important;
    font-size: 30px;
    word-wrap: break-word ;
    height: 100%;
 
}

