body{
    background-image: url(../imagens/grungepapier.png);
    background-repeat: no-repeat;
    background-size: cover;

}

@font-face{
    font-family: dungeon;
    src: url(./fontes/DUNGRG__.TTF);
}

@font-face{
    font-family: celtic;
    src: url(./fontes/celtic_gaelige.ttf);
}

@font-face{
    font-family: elfic;
    src: url(./fontes/QUENYA.TTF);
}

.navtop{
    
    font-family: dungeon;
    font-size: 35px;
    background-color: black;
    text-decoration-color: white;
    height: 40px;
    text-align: center;
    padding-top:3vh;
    padding-bottom: 1vh;
    position: fixed;
    width: 100%;
    
    
}

.navtop li{
    
    margin-top: 20px;
    padding: 40px;
}

a{
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

.ab{

    padding-top: 90px;
    width: 100px;
    height: 100px;
    
    
    
}

.backDice{

    background-color:transparent;
    border: none;
    
}

.dados{
    margin-left: 37vw;
    margin-right: 40vw;
}
.space_divs{

    display: flex;
    margin-top: 120px;
    font-size: 60px;
    font-family: dungeon;
    text-shadow:  0 0 10px #303030;
}
.testx{
    
    width: 100%;
    display: flex;
    
}

.tell{
    padding-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    font-family: dungeon;
    font-size: 50px;
}