body{
    background-image: url(../imagens/grungepapier.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

@font-face{
    font-family: dungeon;
    src: url(./fontes/DUNGRG__.TTF);
}

@font-face{
    font-family: celtic;
    src: url(./fontes/celtic_gaelige.ttf);
}

@font-face{
    font-family: elfic;
    src: url(./fontes/QUENYA.TTF);
}
/* ----------------------------------------------------------------------------------------------------------------------- */ 

.navtop{
    
    font-family: dungeon;
    font-size: 35px;
    background-color: black;
    text-decoration-color: white;
    height: 40px;
    text-align: center;
    padding-top:3vh;
    padding-bottom: 1vh;
    position: fixed;
    width: 100%;
    
    
}

.navtop li{
    
    margin-top: 20px;
    padding: 40px;
}

a{
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}

.div_partners{

    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 25vw;
    height: fit-content;
    margin-left: 2vw;
    margin-top: 70px;
    word-wrap: break-word;
    float: left;
    margin-bottom: 2vh;

}

.partners{
    
    font-size: 25px;
    font-family: celtic;
    text-align: center;
}

/*.a1:hover{
    transition: 1s;
    font-size: 25px;
    font-family: dungeon;
    position: fixed;
}
.a2:hover{
    transition: 1s;
    font-size: 25px;
    font-family: dungeon;
    position: fixed;
}.a3:hover{
    transition: 1s;
    font-size: 25px;
    font-family: dungeon;
    position: fixed;
}
.a4:hover{
    transition: 1s;
    font-size: 25px;
    font-family: dungeon;
    position: fixed;
} */